/** FONTS
--------------------**/
@import url("https://fonts.googleapis.com/css?family=Questrial");

/** ANIMATIONS
--------------------**/
@keyframes blinker {
	50% {
		opacity: 0; 
		} 
}
div.blink {
	color:white;
	display:inline;
	animation:blinker 2s step-end infinite;
}

/**	NATIVE
--------------------**/
body  {
	background-color: #111111;
	color:#EEEEEE;
	font-family: 'Calibri', sans-serif;
	display:flex;
	flex-direction:column;
	justify-content:centre;
	margin-top:0px;
	text-align:centre;
}
ul {
	list-style-type: none;
}
a {
	text-decoration:none;
}
